<div class="course__grid-item">
    <div class="course__grid-item-card">
        <div class="course__img-container">
            <img 
                src="{{ url_for('static', filename=course.image) }}" 
                alt="{{ course.alt }}"
                class="course__img" 
            />
        </div>
        <div class="course__content">
            <h3 class="course__content-title">{{ course.title }}</h3>
            <p class="course__content-description">{{ course.description }}</p>
            <p class="course__content-state">Estado: {{ course.state }}</p>
            <p class="course__content-cost">Costo: {{ course.cost }}</p>
        </div>
    </div>
</div>
