<div class="service__grid-item">
    <div class="service__grid-item-card">
        <div class="service__img-container">
            <img 
                src="{{ url_for('static', filename=service.image) }}" 
                alt="{{ service.alt }}"
                class="service__img" 
            />
        </div>
        <div class="service__content">
            <h3 class="service__title">{{ service.title }}</h3>
            <p class="service__description">{{ service.description }}</p>
            <p class="service__state">Estado: <span class="service__state-stage">{{ service.state }}</span></p>
            <div class="service__staff">
                <h4 class="service__staff-title">Personal:</h4> 
                <ul class="service__staff-list">
                    {% for person in service.personal %}
                        <li class="service__staff-item">{{ person }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>
</div>
