<!--Iconos-->
<link rel="icon" href="{{ url_for('static', filename='img/logo/logo.svg') }}" type="image/svg">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />


<!--partials styles-->
<link rel="stylesheet" href="{{url_for('static', filename='css/main/base.css')}}">

<link rel="stylesheet" href="{{url_for('static', filename='css/partials/header/header.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/partials/header/header_responsive.css')}}">

<!--template styles-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/index/index.css') }}">

<link rel="stylesheet" href="{{url_for('static', filename='css/main/services/services.css')}}">

<!--cards styles-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/cards/course_card.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/cards/service_card.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/cards/profile_card.css') }}">