.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0;
    margin: 0;
    gap: 16px;
    container: service;
    container-type: inline-size;
}

.nav-service__container {
    position: sticky;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    background-color: transparent;
    z-index: var(--six-level);
}

.main-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: var(--margin-big); 
    margin-left: var(--margin-xsuper);
    text-decoration: none;

}

.article-service{
    display: none;
}

@container service (min-width: 1250px){
    .main-service{
        margin: var(--margin-xsuper);
    }
    .article-service{
        max-width: 300px;
        margin: var(--margin-big);
        display: flex;
    }
}