.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0;
    margin: 0;
    gap: 16px;
    container: service;
    container-type: inline-size;
    position: relative;
}

.nav-service__container {
    position: absolute;
    position: sticky;
    top: 50vh;
    left: 0;
    margin-block: 25vh;
    transform: translateY(-50%);
    background-color: transparent;
    z-index: var(--six-level);
}

.main-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-decoration: none;
    margin-right:var(--margin-mid) ;
    gap: 8px;
}

.article-service{
    position: absolute;
    position: sticky;
    display: none;
    flex-direction: column;
    max-width: 280px;
    top: 25%;
    right: 0;
    transform: translateY(-25%);
    transform: translateX(-25%);
    z-index: var(--six-level);
    margin-bottom: 25%;   
    margin-right: var(--margin-big);
    margin-left: var(--margin-small);
    padding: var(--padding-mid);
}

@container service (min-width: 1250px){
    .main-service{
        margin: var(--margin-xsuper);
    }
    .article-service{
        display: flex;
    }
}