.index{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.index__background {
   
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: blur(2px);
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

.index__container{
    max-width: 1450px;
    justify-content: center;
    align-items: center;
}

.title-section{
    display: none;
    color: var(--primary-title);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xsuper);
    font-weight: bold;
    text-align: left;
    margin-top: 200px;
    margin-left: 25px;
}

.info__cards {
    position: relative;
    z-index: var(--three-level);
    margin: var(--margin-big);
    margin-top: var(--margin-super);
}

.info__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0;
    padding: 0;
    gap: var(--margin-mid);
}

.course__cards{
    position: relative;
    z-index: var(--three-level);
    margin-top: var(--margin-xsuper);
}

.course__grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    margin: 0;
    padding: 0;
    gap: var(--margin-mid);
}
