{% extends 'base.html' %} {% block title %} Inicio - CorEngineer {% endblock %}
{% block contentBlock %}

<div class="index">
  <div class="index__container">
    <div class="welcome">
      {% for wel in welcome %}
      <div class="welcome__content">
        <div class="welcome__bg">
          <div class="welcome__bg-container">
            <img 
            src="{{url_for('static', filename=wel.image_bg)}}" 
            alt="{{wel.alt_bg}}" 
            class="welcome_bg-img">
          </div>
        </div>
        <div class="welcome__img-container">
          <img 
            src="{{url_for('static', filename=wel.image_logo)}}" 
            alt="{{wel.alt_logo}}" 
            class="welcome__img">
        </div>
        
        <h1 class="welcome__corengineer">CORENGINEER</h1>
        <h2 class="welcome__slogan">THE CORE OF INNOVATION</h3>
        <p class="welcome__description">{{wel.description}}
        </p>
        <a href="#info" class="welcome__button" role="button">
          <i class="welcome__button-ico fa-solid fa-arrow-down-long"></i>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="info" id="info">
      <div class="info__img-container" >
        <img 
          src="{{url_for('static', filename='img/logo/logo.svg')}}" 
          alt="information picture" 
          class="info__img"
        >
      </div>
      <div class="info__text-container">
        <h3 class="info__title">
          {% block infoTitle%}Titulo{% endblock %}
        </h3>
        <p class="info__description">
          {% block infoDescription %}
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem sunt 
          temporibus aspernatur dolores cupiditate asperiores maiores id, est distinctio 
          repellendus? Vero odit nemo dignissimos autem quis, perspiciatis esse beatae 
          sequi!
          {% endblock %}
        </p>
        
        <a 
          href="#" class="info__see-more button" 
          role="button">See more
        </a>

      </div>
    </div>
    
    <div class="cards">
      <div class="grid">
        {% for course in courses %}
          {% include 'cards/course_card.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
