{% extends 'base.html' %} {% block title %}Services CorEngineer{% endblock %} 


{%block contentBlock %}
<div class="services">
    <div class="nav-service">
        <nav class="nav-service">
            <ul class="nav-service__list">
                <li class="nav-service__item">
                    <a href="#" class="nav-service__item-link">
                        <i class="fa-brands fa-html5"></i>
                        <h4 class="text-nav">Programación WEB</h4> 
                    </a> 
                </li>
                <li class="nav-service__item">
                    <a href="#" class="nav-service__item-link">
                        <i class="fa-brands fa-android"></i>
                        <h4 class="text-nav">Programación móvil</h4>  
                    </a> 
                </li>
                <li class="nav-service__item">
                    <a href="#" class="nav-service__item-link">
                        <i class="fa-solid fa-microchip"></i>
                        <h4 class="text-nav">Sistemas embebidos</h4>
                    </a> 
                </li>
                <li class="nav-service__item">
                    <a href="#" class="nav-service__item-link">
                        <i class="fa-solid fa-robot"></i>
                        <h4 class="text-nav">IOT y Robotica</h4>
                    </a>
                </li>
                <li class="nav-service__item">
                    <a href="#" class="nav-service__item-link">
                        <i class="fa-solid fa-industry"></i>
                        <h4 class="text-nav">Electrónica industrial</h4>
                    </a> 
                </li>
            </ul>
        </nav>
    </div>
    <div class="body-service">
        <div class="body-service-grid">
            <div class="body-service-grid__item">
                <h2>SERVICOS DISPONIBLES</h2>
                <p>
                    En CorEngineer, ofrecemos una gama completa de servicios tecnológicos diseñados para satisfacer las necesidades de tu
                    proyecto. Desde la programación web y móvil hasta sistemas embebidos, IoT, robótica y electrónica industrial,
                    contamos con la experiencia y el conocimiento necesarios para llevar tus ideas a la realidad. Nuestro enfoque se
                    basa en la innovación y la eficiencia, asegurando que cada solución sea personalizada y efectiva. Explora nuestros
                    servicios y descubre cómo podemos ayudarte a alcanzar tus objetivos tecnológicos.
                </p>    
            </div>
            <div class="body-service-service-grid__item">
                {% for service in services %}
                    {% include 'cards/service_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="article-service">
        <div class="grid-card">
            {% for profile in profiles %}
                {% include 'cards/profile_card.html' %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}