{% extends 'base.html' %} {% block title %}Services CorEngineer{% endblock %} 


{%block contentBlock %}
<div class="services">
    <div class="nav-service__container">
        <nav class="nav-service">
            <ul class="nav-service__list">
                <li class="icon-nav nav-service__item">
                    <a href="#" class="nav-service__item-link">
                        <i class="icon-nav fa-brands fa-html5"></i>
                        <p class="text-nav">Programación WEB</p> 
                    </a> 
                </li>
                <li class="icon-nav nav-service__item">
                    <a href="#" class="nav-service__item-link">
                        <i class="icon-nav fa-brands fa-android"></i>
                        <p class="text-nav">Programación móvil</p>  
                    </a> 
                </li>
                <li class="icon-nav nav-service__item">
                    <a href="#" class="nav-service__item-link">
                        <i class="icon-nav fa-solid fa-microchip"></i>
                        <p class="text-nav">Sistemas embebidos</p>
                    </a> 
                </li>
                <li class="icon-nav nav-service__item">
                    <a href="#" class="nav-service__item-link">
                        <i class="icon-nav fa-solid fa-robot"></i>
                        <p class="text-nav">IOT y Robotica</p>
                    </a>
                </li>
                <li class="icon-nav nav-service__item">
                    <a href="#" class="nav-service__item-link">
                        <i class="icon-nav fa-solid fa-industry"></i>
                        <p class="text-nav">Electrónica industrial</p>
                    </a> 
                </li>
            </ul>
        </nav>
    </div>
    <div class="main-service">
        <div class="main-service-grid">
            <div class="main-service-grid__item">
                <div class="welcome-service">
                    <div class="welcome-service__header">
                        <i class="welcome-icon-service fas fa-cogs"></i>
                        <h2 class="welcome-title-service">SERVICOS DISPONIBLES</h2>
                    </div>
                    <p class="welcome-text-service">
                        En CorEngineer, ofrecemos una gama completa de servicios tecnológicos diseñados para satisfacer las necesidades de tu
                        proyecto. Desde la programación web y móvil hasta sistemas embebidos, IoT, robótica y electrónica industrial,
                        contamos con la experiencia y el conocimiento necesarios para llevar tus ideas a la realidad. Nuestro enfoque se
                        basa en la innovación y la eficiencia, asegurando que cada solución sea personalizada y efectiva. Explora nuestros
                        servicios y descubre cómo podemos ayudarte a alcanzar tus objetivos tecnológicos.
                    </p>    
                </div>
            </div>
            <div class="main-service-grid__item">
                {% for service in services %}
                    {% include 'cards/service_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="article-service">
        <div class="grid-card">
            {% for profile in profiles %}
                {% include 'cards/profile_card.html' %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}