@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
    --light-primary-color: #f57c00;
    --primary-color: #fc944b;
    --secundary-color: #fe4445;
    --accent-color: #ffbe58;
    --primary-text: #e0e0e0;
    --secondary-text: #6c757d;
    --divider-color: #22333b;
    --background-color: #30364f;
    --header-height: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', Roboto, Montserrat, sans-serif;
    font-size: 20px;
    color: var(--primary-color);
}

body {
    background-color: var(--background-color);
}

.header{
    width: 100vw;
    max-height: 20vh;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    gap:16px;
    background-color: var(--divider-color);
    position: fixed;
    z-index: 100;
}

.header__link-logo{
    display: flex;
    height: 100%;
    margin-left: 20px;
    margin-right: auto;
    align-items: center;
}

.header__logo-img{
    height: 50px;
    
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header__logo-img:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 5px var(--accent-color));
}

.header__logo-text{
    display: none;
    font-size: 30px;
}

.header__nav-list{
    display: none;
}

.header__search{
    display: flex;
}

.header__search-textfield{
    display: none;
    max-width: 40vw;
    width: 0;
    font-family: Montserra;
    font-size: 15px;
    padding-left: 8px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__search-textfield.show{
    display: inline-block;
    width: 300px;
    box-shadow: 1px 1px 5px var(--accent-color);
    transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__search-textfield:focus{
    outline: none;
}

.header__search-ico{
    margin: 8px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header__search-ico:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 5px var(--accent-color));
}

.header__nav-menu-bars{
    display: block;
    margin-right: 20px;
}
.header__nav-checkbox-menu{
    display: none;
}

.header__nav-button-ico{
    font-size: 30px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header__nav-button-ico:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 4px var(--accent-color));
}

.header__nav {
    display: none;
    background-color: var(--divider-color);
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 0%;
    height: 0;
    transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header__nav.show {
    display: flex;
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
}

.header__nav-list{
    display: none;
    width: 0%;
    opacity: 0;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: auto;
    margin-top: 8vh;
    margin-left: 8vw;
    gap: 16px;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header__nav-list.show{
    display: flex;
    width: 100%;
    opacity: 1;
}

.header__nav-link{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

@media all and (min-width: 620px) {
    .header__logo-text{
        display: block;
    }
}

@media all and (min-width: 1200px) {
    .header__logo-text {
        display: none;
    }

    .header__nav-menu-bars{
        display: none;
    }
    
    .header__nav{
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
        top: 150px;

    }

    .header__nav-list.show{
        display: block;
        width: auto;
        height: auto;
    }
    .header__nav-item.show {
        display: block;
    }

    .header__nav-link{
        display: inline-block;
    }
}