/* Estilos para pantallas grandes (escritorio) */
@media screen and (min-width: 1250px) {
    .header {
        background-color: var(--secondary-text);
        flex-direction: row;
        margin: 0;
        padding: 0;
        opacity: 1;
        transform: translateY(0);
        transition:
            opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
            transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .header.hidden {
        opacity: 0;
        transform: translateY(-100%);
    }

    .header__link-logo {
        position: absolute;
    }

    .header__logo-text {
        display: none;
    }

    .header__nav {
        position: static;
        display: flex;
        flex-direction: row;
        min-width: 650px;
        width: 80%;
        max-width: 1150px;
        height: 70px;
        border-radius: 8px;
        background: var(--secondary-text);
        margin: auto;
    }

    .header__nav-menu-button {
        display: none;
    }

    .header__nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        padding: 0;
        width: auto;
        height: 100%;
        background-color: transparent;
    }

    .header__nav-item {
        display: flex;
        border: none;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: auto;
        margin: var(--margin-big);
    }

    .header__nav-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 60px;
        margin: auto;
        margin-inline: var(--margin-xbig);
    }

    .header__nav-item-text {
        display: block;
        margin: 5px;
    }

    .header__nav-item-ico {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    .login__button{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: var(--ten-level);
        top: 50%;
        left: 93vw;
        width: 150px;
        height: 80%;
        margin: auto;  
    }
}