.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--primary-text);
}

.header__link-logo {
    display: flex;
    height: 100%;
    margin: auto;
    margin-left: 5vw;
    justify-content: center;
    align-items: center;

}

.header__logo-container {
    display: flex;  
    align-items: center;
}

.header__logo-img {
    width: 50px;
    height: auto;
    margin-right: var(--margin-big);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header__logo-img:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 5px var(--accent-color));
}

.header__logo-text {
    font-family: 'Nunito', sans-serif;
    font-size: var(--font-size-xbig);
    font-weight: bold;
}


.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-checkbox-menu {
    display: none;
}

.header__nav-button-ico {
    font-size: var(--font-size-xbig);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header__nav-button-ico:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 4px var(--accent-color));
}

.header__nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav-item {
    margin-left: 20px;
}

.header__nav-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    transition: color 0.3s ease;
}

.header__nav-link:hover {
    color: #f0a500;
}

/* Íconos en los items del menú */
.header__nav-item-ico {
    margin-right: 8px;
}

/* Botón del menú (para vistas móviles) */
.header__nav-menu-button {
    display: none;
}

/* Media queries para vistas móviles */
@media (max-width: 768px) {
    .header__nav {
        display: none;
    }

    .header__nav-checkbox-menu:checked~.header__nav {
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .header__nav-list {
        flex-direction: column;
    }

    .header__nav-item {
        margin: 10px 0;
    }

    .header__nav-menu-button {
        display: block;
        cursor: pointer;
    }
}