.service__grid-item{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--card-bg-color);
    border-radius: 8px;
    background-color: var(--card-bg-color2);
    padding: var(--padding-xbig);
    margin: var(--margin-mid);
    gap: 8px;
    max-width: 600px;
    container: service;
    container-type: inline-size;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
                border-left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.service__grid-item:hover{
    transform: scale(1.02);
    border-left: 2px solid var(--primary-color);
    cursor: pointer;
}

.service__grid-item-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-xbig);
    
}

.service__img-container{
    min-width: 300px;
    max-width: 600px;
}

.service__content{
    margin: var(--margin-small);
}

.service__title{
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-big);
    margin-bottom: var(--margin-small);

}

.service__description{
    color: var(--secondary-title);
    font-size: var(--font-size-mid);
    margin-block: var(--margin-mid);
}

.service__state, .service__staff-title{
    font-weight: bold;
    font-size: var(--font-size-mid);
}


.service__staff{
    display: flex;
    flex-direction: row;
    margin-block: var(--margin-small);
    gap: 8px;
}
.service__state-stage{
    font-weight: lighter;
    font-size: var(--font-size-small);
}


.service__staff-item{
    list-style: none;
    color: var(--secondary-title);
    font-family: var(--font-family-roboto);
    font-weight: lighter;
    font-size: var(--font-size-mid);
    margin-block: var(--margin-small);
}

@container service (min-width: 600px){
    .service__grid-item {
        max-width: 1450px;        
    }

    .service__grid-item-card {
        flex-direction: row;
    }
}